openapi: 3.1.0
info:
  title: identity-service API
  version: 0.2.0
  description: >
    Unero Identity Service: authentication, authorization (RBAC), service accounts, API
    keys, sessions, and tokens. Public authentication endpoints and an internal admin
    surface (callers present a resolved identity via gateway headers). Shared components
    are referenced from unero-shared-schemas. Paths grow per delivery milestone.
servers:
  - url: https://identity.internal.unero.com
paths:
  /healthz:
    get:
      summary: Liveness
      responses:
        "200": { description: alive }
  /readyz:
    get:
      summary: Readiness (checks PostgreSQL and Redis)
      responses:
        "200": { description: ready }
        "503": { description: not ready }
  /.well-known/jwks.json:
    get:
      summary: JSON Web Key Set (public verification keys)
      description: Public RS256 keys other services fetch to verify access tokens offline.
      responses:
        "200":
          description: key set
          content:
            application/json:
              schema:
                type: object
                required: [keys]
                properties:
                  keys:
                    type: array
                    items: { $ref: "#/components/schemas/Jwk" }

  /identity/register:
    post:
      summary: Register a user
      description: Public self-registration. Idempotent — requires an Idempotency-Key.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RegisterRequest" }
      responses:
        "201":
          description: created
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [user_id]
                    properties:
                      user_id: { $ref: "#/components/schemas/Ulid" }
        "400": { $ref: "#/components/responses/Error" }
        "409": { $ref: "#/components/responses/Error" }
        "422": { $ref: "#/components/responses/Error" }

  /identity/login:
    post:
      summary: Authenticate a user
      description: >
        Verifies credentials and returns the principal plus a short-lived RS256 access token
        and a rotating refresh token (a new session family). Invalid credentials and unknown
        accounts both return AUTH_002 (no enumeration).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LoginRequest" }
      responses:
        "200":
          description: authenticated
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/LoginData" }
        "401": { $ref: "#/components/responses/Error" }
        "422": { $ref: "#/components/responses/Error" }

  /identity/service/token:
    post:
      summary: Client-credentials grant (service-to-service)
      description: >
        Authenticates a service account by client_id (its name) and client_secret and returns a
        short-lived RS256 service token (token_use=service) carrying the account's scopes. No refresh
        token is issued. Unknown client, wrong secret, and disabled account all return SERVICE_004
        (no enumeration).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ServiceTokenRequest" }
      responses:
        "200":
          description: service token issued
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/ServiceTokenData" }
        "401": { $ref: "#/components/responses/Error" }
        "422": { $ref: "#/components/responses/Error" }

  /identity/email/verify:
    post:
      summary: Verify an email address with a token
      description: Public — the token is the proof. Unknown/used/expired tokens return VERIFICATION_001.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/VerifyEmailRequest" }
      responses:
        "200":
          description: verified
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [user_id, verified]
                    properties:
                      user_id: { $ref: "#/components/schemas/Ulid" }
                      verified: { type: boolean }
        "400": { $ref: "#/components/responses/Error" }
        "422": { $ref: "#/components/responses/Error" }

  /identity/auth/password/reset-request:
    post:
      summary: Start a password reset
      description: Public. Always returns 202 whether or not the email matches an account (no enumeration). Emits PasswordResetRequested carrying only an opaque delivery_ref.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RequestPasswordResetRequest" }
      responses:
        "202":
          description: accepted (no enumeration)
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [status]
                    properties:
                      status: { type: string, example: accepted }
        "422": { $ref: "#/components/responses/Error" }

  /identity/auth/password/reset:
    post:
      summary: Complete a password reset
      description: Public — the token is the proof. Redeems the token, sets the new password, and revokes all of the user's refresh families. Unknown/used/expired tokens return RESET_002.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ResetPasswordRequest" }
      responses:
        "200":
          description: password reset
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [user_id, reset]
                    properties:
                      user_id: { $ref: "#/components/schemas/Ulid" }
                      reset: { type: boolean }
        "400": { $ref: "#/components/responses/Error" }
        "422": { $ref: "#/components/responses/Error" }

  /identity/internal/password-reset/deliveries/{ref}/materialize:
    post:
      summary: Materialise a reset delivery (internal callback)
      description: Gateway-authenticated. The notification service exchanges the delivery_ref from PasswordResetRequested for the freshly-minted token and recipient email. Single-use per ref.
      parameters:
        - name: ref
          in: path
          required: true
          schema: { type: string }
        - $ref: "#/components/parameters/ActorId"
        - $ref: "#/components/parameters/ActorType"
      responses:
        "200":
          description: token minted (shown once)
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [email, token, expires_at]
                    properties:
                      email: { type: string, format: email }
                      token: { type: string, description: raw reset token, shown once }
                      expires_at: { type: string, format: date-time }
        "401": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }

  /identity/auth/refresh:
    post:
      summary: Rotate an access + refresh token pair
      description: >
        Exchanges a refresh token for a new access + refresh pair (single-use rotation).
        Presenting an already-rotated token is reuse (AUTH_012) and revokes the whole family;
        an unknown, revoked, or expired token returns AUTH_011. No idempotency key: the refresh
        token is itself single-use.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RefreshRequest" }
      responses:
        "200":
          description: rotated
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/TokenPair" }
        "401": { $ref: "#/components/responses/Error" }
        "422": { $ref: "#/components/responses/Error" }

  /identity/auth/logout:
    post:
      summary: Log out (revoke the session family)
      description: >
        Revokes the entire refresh-token family the presented token belongs to. Idempotent —
        logging out an already-revoked family still returns 200. The short-lived access token
        is not blacklisted here; it self-expires within the access TTL. AUTH_011 if the token
        is unknown.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LogoutRequest" }
      responses:
        "200":
          description: logged out
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [user_id]
                    properties:
                      user_id: { $ref: "#/components/schemas/Ulid" }
        "401": { $ref: "#/components/responses/Error" }
        "422": { $ref: "#/components/responses/Error" }

  /identity/tokens/introspect:
    post:
      summary: Introspect an access token
      description: >
        Service-facing (RFC 7662). Verifies the access token (RS256 signature, expiry, audience)
        and checks the jti denylist. Always 200; the body's `active` flag is the answer. A failed
        or denylisted token returns `{ active: false }` and nothing else. Gateway-authenticated
        (service actor).
      parameters:
        - $ref: "#/components/parameters/ActorId"
        - $ref: "#/components/parameters/ActorType"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/IntrospectRequest" }
      responses:
        "200":
          description: introspection result (active or not)
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/IntrospectionData" }
        "401": { $ref: "#/components/responses/Error" }
        "422": { $ref: "#/components/responses/Error" }

  /identity/permissions:
    get:
      summary: List the permission catalog
      parameters:
        - $ref: "#/components/parameters/ActorId"
        - $ref: "#/components/parameters/ActorType"
      responses:
        "200":
          description: catalog
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/PermissionView" }
        "401": { $ref: "#/components/responses/Error" }
    post:
      summary: Define a permission
      description: Adds a non-system permission (`resource.action`). System permissions are seeded, not defined here. Idempotent.
      parameters:
        - $ref: "#/components/parameters/ActorId"
        - $ref: "#/components/parameters/ActorType"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DefinePermissionRequest" }
      responses:
        "201":
          description: defined
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/PermissionView" }
        "401": { $ref: "#/components/responses/Error" }
        "409": { $ref: "#/components/responses/Error" }
        "422": { $ref: "#/components/responses/Error" }

  /identity/roles:
    get:
      summary: List roles
      parameters:
        - $ref: "#/components/parameters/ActorId"
        - $ref: "#/components/parameters/ActorType"
      responses:
        "200":
          description: roles
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/RoleView" }
        "401": { $ref: "#/components/responses/Error" }
    post:
      summary: Create a role
      description: Creates a non-system role (snake_case name). System roles are seeded. Idempotent.
      parameters:
        - $ref: "#/components/parameters/ActorId"
        - $ref: "#/components/parameters/ActorType"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateRoleRequest" }
      responses:
        "201":
          description: created
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/RoleView" }
        "401": { $ref: "#/components/responses/Error" }
        "409": { $ref: "#/components/responses/Error" }
        "422": { $ref: "#/components/responses/Error" }

  /identity/roles/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { $ref: "#/components/schemas/Ulid" }
      - $ref: "#/components/parameters/ActorId"
      - $ref: "#/components/parameters/ActorType"
    get:
      summary: Get a role
      responses:
        "200": { $ref: "#/components/responses/Role" }
        "401": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }
    patch:
      summary: Update a role (rename / re-describe)
      description: PATCH semantics. Renaming a system role is rejected (ROLE_002). Idempotent.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UpdateRoleRequest" }
      responses:
        "200": { $ref: "#/components/responses/Role" }
        "401": { $ref: "#/components/responses/Error" }
        "403": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }
        "422": { $ref: "#/components/responses/Error" }

  /identity/roles/{id}/permissions:
    post:
      summary: Grant a permission to a role
      description: Idempotent. The permission must exist in the catalog (else PERMISSION_001).
      parameters:
        - name: id
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Ulid" }
        - $ref: "#/components/parameters/ActorId"
        - $ref: "#/components/parameters/ActorType"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/GrantPermissionRequest" }
      responses:
        "200": { $ref: "#/components/responses/Role" }
        "401": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }
        "422": { $ref: "#/components/responses/Error" }

  /identity/roles/{id}/permissions/{name}:
    delete:
      summary: Revoke a permission from a role
      description: Idempotent. `name` is the permission's resource.action.
      parameters:
        - name: id
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Ulid" }
        - name: name
          in: path
          required: true
          schema: { type: string, example: user.read }
        - $ref: "#/components/parameters/ActorId"
        - $ref: "#/components/parameters/ActorType"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200": { $ref: "#/components/responses/Role" }
        "401": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }

  /identity/users/{id}/roles:
    post:
      summary: Assign a role to a user
      description: Idempotent. Bumps the user's authz_version. The role must exist (ROLE_001 otherwise).
      parameters:
        - name: id
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Ulid" }
        - $ref: "#/components/parameters/ActorId"
        - $ref: "#/components/parameters/ActorType"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AssignRoleRequest" }
      responses:
        "200": { $ref: "#/components/responses/UserProfile" }
        "401": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }
        "422": { $ref: "#/components/responses/Error" }

  /identity/users/{id}/roles/{roleId}:
    delete:
      summary: Revoke a role from a user
      description: Idempotent. Bumps the user's authz_version.
      parameters:
        - name: id
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Ulid" }
        - name: roleId
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Ulid" }
        - $ref: "#/components/parameters/ActorId"
        - $ref: "#/components/parameters/ActorType"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200": { $ref: "#/components/responses/UserProfile" }
        "401": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }

  /identity/service-accounts:
    get:
      summary: List service accounts
      parameters:
        - $ref: "#/components/parameters/ActorId"
        - $ref: "#/components/parameters/ActorType"
      responses:
        "200":
          description: service account list (no secrets)
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { type: array, items: { $ref: "#/components/schemas/ServiceAccountView" } }
        "401": { $ref: "#/components/responses/Error" }
    post:
      summary: Create a service account
      description: Returns the client secret once inside data.secret. The name is unique and doubles as the client_id.
      parameters:
        - $ref: "#/components/parameters/ActorId"
        - $ref: "#/components/parameters/ActorType"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateServiceAccountRequest" }
      responses:
        "201": { $ref: "#/components/responses/ServiceAccountCredential" }
        "401": { $ref: "#/components/responses/Error" }
        "409": { $ref: "#/components/responses/Error" }
        "422": { $ref: "#/components/responses/Error" }

  /identity/service-accounts/{id}:
    get:
      summary: Read a service account
      parameters:
        - name: id
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Ulid" }
        - $ref: "#/components/parameters/ActorId"
        - $ref: "#/components/parameters/ActorType"
      responses:
        "200": { $ref: "#/components/responses/ServiceAccountView" }
        "401": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }

  /identity/service-accounts/{id}/rotate:
    post:
      summary: Rotate a service account's client secret
      parameters:
        - name: id
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Ulid" }
        - $ref: "#/components/parameters/ActorId"
        - $ref: "#/components/parameters/ActorType"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200": { $ref: "#/components/responses/ServiceAccountCredential" }
        "401": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }

  /identity/service-accounts/{id}/disable:
    post:
      summary: Disable a service account
      parameters:
        - name: id
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Ulid" }
        - $ref: "#/components/parameters/ActorId"
        - $ref: "#/components/parameters/ActorType"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200": { $ref: "#/components/responses/ServiceAccountView" }
        "401": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }

  /identity/api-keys:
    get:
      summary: List an owner's API keys
      parameters:
        - name: owner_type
          in: query
          required: true
          schema: { type: string, enum: [user, service_account] }
        - name: owner_id
          in: query
          required: true
          schema: { $ref: "#/components/schemas/Ulid" }
        - $ref: "#/components/parameters/ActorId"
        - $ref: "#/components/parameters/ActorType"
      responses:
        "200":
          description: API key list (no secrets)
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { type: array, items: { $ref: "#/components/schemas/ApiKeyView" } }
        "401": { $ref: "#/components/responses/Error" }
        "422": { $ref: "#/components/responses/Error" }
    post:
      summary: Create an API key
      description: Returns the full key once inside data.key. The owner (user or service account) must exist.
      parameters:
        - $ref: "#/components/parameters/ActorId"
        - $ref: "#/components/parameters/ActorType"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateApiKeyRequest" }
      responses:
        "201":
          description: API key created (full key shown once)
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    allOf:
                      - $ref: "#/components/schemas/ApiKeyView"
                      - type: object
                        required: [key]
                        properties:
                          key: { type: string, description: full API key, shown once, example: "unero_live_ab12cd34ef56.<secret>" }
        "401": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }
        "422": { $ref: "#/components/responses/Error" }

  /identity/api-keys/{id}:
    delete:
      summary: Revoke an API key
      parameters:
        - name: id
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Ulid" }
        - $ref: "#/components/parameters/ActorId"
        - $ref: "#/components/parameters/ActorType"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: revoked
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/ApiKeyView" }
        "401": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }

  /identity/api-keys/{id}/rotate:
    post:
      summary: Rotate an API key (zero downtime)
      description: >
        Issues a fresh key inheriting the rotated key's owner, name and scopes (full key in data.key,
        shown once). The rotated key stays valid until data.grace_expires_at, then passively expires.
        A revoked key cannot be rotated (APIKEY_004).
      parameters:
        - name: id
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Ulid" }
        - $ref: "#/components/parameters/ActorId"
        - $ref: "#/components/parameters/ActorType"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: rotated (new full key shown once)
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    allOf:
                      - $ref: "#/components/schemas/ApiKeyView"
                      - type: object
                        required: [key, replaced_key_id]
                        properties:
                          key: { type: string, description: full replacement key, shown once }
                          replaced_key_id: { $ref: "#/components/schemas/Ulid" }
                          grace_expires_at: { type: string, format: date-time, nullable: true }
        "401": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }
        "409": { $ref: "#/components/responses/Error" }

  /identity/users/{id}/email/verification-request:
    post:
      summary: Issue an email verification token
      description: Gateway-authenticated. Returns the raw token once for the caller to deliver by email. Already-verified users return USER_003.
      parameters:
        - name: id
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Ulid" }
        - $ref: "#/components/parameters/ActorId"
        - $ref: "#/components/parameters/ActorType"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: token issued (shown once)
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [token, expires_at]
                    properties:
                      token: { type: string, description: raw verification token, shown once }
                      expires_at: { type: string, format: date-time }
        "401": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }
        "409": { $ref: "#/components/responses/Error" }

  /identity/users/{id}/mfa/totp/enroll:
    post:
      summary: Begin TOTP MFA enrollment
      description: Gateway-authenticated. Returns the base32 secret + otpauth URI once (secret encrypted at rest). Already-active MFA returns MFA_001.
      parameters:
        - name: id
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Ulid" }
        - $ref: "#/components/parameters/ActorId"
        - $ref: "#/components/parameters/ActorType"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: enrollment started (secret shown once)
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [secret, provisioning_uri]
                    properties:
                      secret: { type: string, description: base32 TOTP secret, shown once }
                      provisioning_uri: { type: string, description: otpauth:// URI for QR display }
        "401": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }
        "409": { $ref: "#/components/responses/Error" }

  /identity/users/{id}/mfa/totp/confirm:
    post:
      summary: Confirm TOTP MFA enrollment
      parameters:
        - name: id
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Ulid" }
        - $ref: "#/components/parameters/ActorId"
        - $ref: "#/components/parameters/ActorType"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ConfirmTotpRequest" }
      responses:
        "200":
          description: MFA enabled
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [enabled]
                    properties:
                      enabled: { type: boolean }
        "401": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }
        "422": { $ref: "#/components/responses/Error" }

  /identity/change-password:
    post:
      summary: Change own password (self-service)
      description: Actor (from X-Actor-Id) changes their own password. Idempotent.
      parameters:
        - $ref: "#/components/parameters/ActorId"
        - $ref: "#/components/parameters/ActorType"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ChangePasswordRequest" }
      responses:
        "200": { $ref: "#/components/responses/UserProfile" }
        "401": { $ref: "#/components/responses/Error" }
        "422": { $ref: "#/components/responses/Error" }

  /identity/users/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { $ref: "#/components/schemas/Ulid" }
      - $ref: "#/components/parameters/ActorId"
      - $ref: "#/components/parameters/ActorType"
    get:
      summary: Get a user by id
      responses:
        "200": { $ref: "#/components/responses/UserProfile" }
        "401": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }
    delete:
      summary: Soft-delete a user
      description: Idempotent. The record is retained for audit; the user can never authenticate again.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ReasonBody" }
      responses:
        "200": { $ref: "#/components/responses/UserProfile" }
        "401": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }

  /identity/users:
    get:
      summary: Look up a user by email or username
      parameters:
        - { name: email, in: query, required: false, schema: { type: string, format: email } }
        - { name: username, in: query, required: false, schema: { type: string } }
        - $ref: "#/components/parameters/ActorId"
        - $ref: "#/components/parameters/ActorType"
      responses:
        "200": { $ref: "#/components/responses/UserProfile" }
        "401": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }
        "422": { $ref: "#/components/responses/Error" }

  /identity/users/{id}/disable:
    post:
      summary: Disable a user
      description: Idempotent. A disabled user cannot authenticate until re-enabled.
      parameters:
        - { name: id, in: path, required: true, schema: { $ref: "#/components/schemas/Ulid" } }
        - $ref: "#/components/parameters/ActorId"
        - $ref: "#/components/parameters/ActorType"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ReasonBody" }
      responses:
        "200": { $ref: "#/components/responses/UserProfile" }
        "401": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }

  /identity/users/{id}/enable:
    post:
      summary: Re-enable a disabled user
      description: Idempotent. A deleted user cannot be re-enabled.
      parameters:
        - { name: id, in: path, required: true, schema: { $ref: "#/components/schemas/Ulid" } }
        - $ref: "#/components/parameters/ActorId"
        - $ref: "#/components/parameters/ActorType"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ReasonBody" }
      responses:
        "200": { $ref: "#/components/responses/UserProfile" }
        "401": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }

components:
  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema: { type: string }
    ActorId:
      name: X-Actor-Id
      in: header
      required: true
      schema: { type: string }
    ActorType:
      name: X-Actor-Type
      in: header
      required: false
      schema: { type: string, enum: [user, service] }
  responses:
    Error:
      description: Standard error envelope (unero-shared-schemas error-envelope)
      content:
        application/json:
          schema:
            type: object
            required: [error, request_id]
            properties:
              error:
                type: object
                required: [code, message]
                properties:
                  code: { type: string, pattern: "^[A-Z]+_[0-9]{3}$" }
                  message: { type: string }
                  detail: { type: object }
              request_id: { type: string }
              docs_url: { type: string }
    UserProfile:
      description: A user profile projection
      content:
        application/json:
          schema:
            type: object
            required: [data]
            properties:
              data: { $ref: "#/components/schemas/UserProfile" }
    ServiceAccountView:
      description: A service account projection (no secret)
      content:
        application/json:
          schema:
            type: object
            required: [data]
            properties:
              data: { $ref: "#/components/schemas/ServiceAccountView" }
    ServiceAccountCredential:
      description: A service account plus its one-time client secret
      content:
        application/json:
          schema:
            type: object
            required: [data]
            properties:
              data:
                allOf:
                  - $ref: "#/components/schemas/ServiceAccountView"
                  - type: object
                    required: [secret]
                    properties:
                      secret: { type: string, description: plaintext client secret, shown once }
    Role:
      description: A role with its resolved permission names
      content:
        application/json:
          schema:
            type: object
            required: [data]
            properties:
              data: { $ref: "#/components/schemas/RoleView" }
  schemas:
    Ulid:
      type: string
      pattern: "^[0-7][0-9A-HJKMNP-TV-Z]{25}$"
    RegisterRequest:
      type: object
      required: [email, username, password]
      properties:
        email: { type: string, format: email, maxLength: 255 }
        username: { type: string, minLength: 3, maxLength: 32 }
        password: { type: string, minLength: 8, maxLength: 4096 }
    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string, maxLength: 4096 }
    ChangePasswordRequest:
      type: object
      required: [current_password, new_password]
      properties:
        current_password: { type: string, maxLength: 4096 }
        new_password: { type: string, minLength: 8, maxLength: 4096 }
    ReasonBody:
      type: object
      properties:
        reason: { type: string, maxLength: 500, nullable: true }
    Principal:
      type: object
      required: [user_id, status, email_verified]
      properties:
        user_id: { $ref: "#/components/schemas/Ulid" }
        status: { type: string, enum: [active, disabled, deleted] }
        email_verified: { type: boolean }
    LoginData:
      allOf:
        - $ref: "#/components/schemas/Principal"
        - type: object
          required: [access_token, token_type, expires_in, refresh_token, refresh_expires_in]
          properties:
            access_token: { type: string, description: RS256 JWT }
            token_type: { type: string, enum: [Bearer] }
            expires_in: { type: integer, description: seconds }
            refresh_token: { type: string, description: opaque single-use refresh secret (rotates) }
            refresh_expires_in: { type: integer, description: seconds }
    TokenPair:
      type: object
      required: [access_token, token_type, expires_in, refresh_token, refresh_expires_in]
      properties:
        access_token: { type: string, description: RS256 JWT }
        token_type: { type: string, enum: [Bearer] }
        expires_in: { type: integer, description: seconds }
        refresh_token: { type: string, description: opaque single-use refresh secret (rotates) }
        refresh_expires_in: { type: integer, description: seconds }
    RefreshRequest:
      type: object
      required: [refresh_token]
      properties:
        refresh_token: { type: string }
    LogoutRequest:
      type: object
      required: [refresh_token]
      properties:
        refresh_token: { type: string }
    IntrospectRequest:
      type: object
      required: [token]
      properties:
        token: { type: string, description: the access token (JWT) to introspect }
    PermissionView:
      type: object
      required: [id, name, resource, action, is_system]
      properties:
        id: { $ref: "#/components/schemas/Ulid" }
        name: { type: string, example: user.create }
        resource: { type: string, example: user }
        action: { type: string, example: create }
        description: { type: string, nullable: true }
        is_system: { type: boolean }
    DefinePermissionRequest:
      type: object
      required: [name]
      properties:
        name: { type: string, pattern: "^[a-z][a-z0-9_]*\\.[a-z][a-z0-9_]*$", example: billing.refund }
        description: { type: string, nullable: true }
    RoleView:
      type: object
      required: [id, name, is_system, permissions]
      properties:
        id: { $ref: "#/components/schemas/Ulid" }
        name: { type: string, example: platform_admin }
        description: { type: string, nullable: true }
        is_system: { type: boolean }
        permissions:
          type: array
          items: { type: string, example: user.read }
    CreateRoleRequest:
      type: object
      required: [name]
      properties:
        name: { type: string, pattern: "^[a-z][a-z0-9_]*$", example: editor }
        description: { type: string, nullable: true }
    UpdateRoleRequest:
      type: object
      properties:
        name: { type: string, pattern: "^[a-z][a-z0-9_]*$" }
        description: { type: string, nullable: true }
    GrantPermissionRequest:
      type: object
      required: [permission]
      properties:
        permission: { type: string, pattern: "^[a-z][a-z0-9_]*\\.[a-z][a-z0-9_]*$", example: user.read }
    AssignRoleRequest:
      type: object
      required: [role_id]
      properties:
        role_id: { $ref: "#/components/schemas/Ulid" }
    ServiceAccountView:
      type: object
      required: [id, name, status, scopes, created_at, updated_at]
      properties:
        id: { $ref: "#/components/schemas/Ulid" }
        name: { type: string, pattern: "^[a-z][a-z0-9-]*$", example: wallet }
        status: { type: string, enum: [active, disabled] }
        scopes:
          type: array
          items: { type: string, example: wallet.credit }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    CreateServiceAccountRequest:
      type: object
      required: [name]
      properties:
        name: { type: string, pattern: "^[a-z][a-z0-9-]*$", example: wallet }
        scopes:
          type: array
          items: { type: string, pattern: "^[a-z][a-z0-9_]*[.:][a-z][a-z0-9_*]*$", example: wallet.credit }
    ServiceTokenRequest:
      type: object
      required: [client_id, client_secret]
      properties:
        grant_type: { type: string, enum: [client_credentials] }
        client_id: { type: string, description: the service account name, example: wallet }
        client_secret: { type: string, description: the plaintext client secret }
    VerifyEmailRequest:
      type: object
      required: [token]
      properties:
        token: { type: string, description: the raw email verification token }
    RequestPasswordResetRequest:
      type: object
      required: [email]
      properties:
        email: { type: string, format: email }
    ResetPasswordRequest:
      type: object
      required: [token, new_password]
      properties:
        token: { type: string, description: the raw reset token }
        new_password: { type: string, minLength: 8, maxLength: 4096 }
    ConfirmTotpRequest:
      type: object
      required: [code]
      properties:
        code: { type: string, pattern: "^[0-9]{6}$", description: the 6-digit TOTP code }
    ServiceTokenData:
      type: object
      required: [access_token, token_type, expires_in, scope]
      properties:
        access_token: { type: string }
        token_type: { type: string, example: Bearer }
        expires_in: { type: integer, example: 900 }
        scope: { type: string, description: space-delimited granted scopes, example: "wallet.credit wallet.debit" }
    ApiKeyView:
      type: object
      required: [id, prefix, name, owner_type, owner_id, scopes, revoked, created_by, created_at, updated_at]
      properties:
        id: { $ref: "#/components/schemas/Ulid" }
        prefix: { type: string, pattern: "^[a-z0-9]{6,32}$" }
        name: { type: string }
        owner_type: { type: string, enum: [user, service_account] }
        owner_id: { $ref: "#/components/schemas/Ulid" }
        scopes: { type: array, items: { type: string, example: wallet.read } }
        expires_at: { type: string, format: date-time, nullable: true }
        last_used_at: { type: string, format: date-time, nullable: true }
        revoked_at: { type: string, format: date-time, nullable: true }
        revoked: { type: boolean }
        created_by: { type: string }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    CreateApiKeyRequest:
      type: object
      required: [name, owner_type, owner_id]
      properties:
        name: { type: string, maxLength: 255, example: CI deploy key }
        owner_type: { type: string, enum: [user, service_account] }
        owner_id: { $ref: "#/components/schemas/Ulid" }
        scopes:
          type: array
          items: { type: string, pattern: "^[a-z][a-z0-9_]*[.:][a-z][a-z0-9_*]*$", example: wallet.read }
        expires_at: { type: string, format: date-time, nullable: true }
    IntrospectionData:
      type: object
      required: [active]
      properties:
        active: { type: boolean }
        sub: { $ref: "#/components/schemas/Ulid" }
        jti: { type: string }
        token_use: { type: string, example: access }
        exp: { type: string, format: date-time }
        permissions:
          type: array
          items: { type: string, example: user.read }
        authz_ver: { type: integer, nullable: true }
    Jwk:
      type: object
      required: [kty, use, alg, kid, n, e]
      properties:
        kty: { type: string, enum: [RSA] }
        use: { type: string, enum: [sig] }
        alg: { type: string, enum: [RS256] }
        kid: { type: string }
        n: { type: string }
        e: { type: string }
    UserProfile:
      type: object
      required: [user_id, email, username, status, email_verified, roles, authz_version, created_at, updated_at]
      properties:
        user_id: { $ref: "#/components/schemas/Ulid" }
        email: { type: string, format: email }
        username: { type: string }
        status: { type: string, enum: [active, disabled, deleted] }
        email_verified: { type: boolean }
        roles:
          type: array
          items: { $ref: "#/components/schemas/Ulid" }
        authz_version: { type: integer }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
