openapi: 3.1.0
info:
  title: identity-service API
  version: 0.2.0
  description: >
    Unero Identity Service: authentication, authorization (RBAC), service accounts, API
    keys, sessions, and tokens. Public authentication endpoints and an internal admin
    surface (callers present a resolved identity via gateway headers). Shared components
    are referenced from unero-shared-schemas. Paths grow per delivery milestone.
servers:
  - url: https://identity.internal.unero.com
paths:
  /healthz:
    get:
      summary: Liveness
      responses:
        "200": { description: alive }
  /readyz:
    get:
      summary: Readiness (checks PostgreSQL and Redis)
      responses:
        "200": { description: ready }
        "503": { description: not ready }
  /.well-known/jwks.json:
    get:
      summary: JSON Web Key Set (public verification keys)
      description: Public RS256 keys other services fetch to verify access tokens offline.
      responses:
        "200":
          description: key set
          content:
            application/json:
              schema:
                type: object
                required: [keys]
                properties:
                  keys:
                    type: array
                    items: { $ref: "#/components/schemas/Jwk" }

  /identity/register:
    post:
      summary: Register a user
      description: Public self-registration. Idempotent — requires an Idempotency-Key.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RegisterRequest" }
      responses:
        "201":
          description: created
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [user_id]
                    properties:
                      user_id: { $ref: "#/components/schemas/Ulid" }
        "400": { $ref: "#/components/responses/Error" }
        "409": { $ref: "#/components/responses/Error" }
        "422": { $ref: "#/components/responses/Error" }

  /identity/login:
    post:
      summary: Authenticate a user
      description: >
        Verifies credentials and returns the principal plus a short-lived RS256 access token
        and a rotating refresh token (a new session family). Invalid credentials and unknown
        accounts both return AUTH_002 (no enumeration).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LoginRequest" }
      responses:
        "200":
          description: authenticated
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/LoginData" }
        "401": { $ref: "#/components/responses/Error" }
        "422": { $ref: "#/components/responses/Error" }

  /identity/auth/refresh:
    post:
      summary: Rotate an access + refresh token pair
      description: >
        Exchanges a refresh token for a new access + refresh pair (single-use rotation).
        Presenting an already-rotated token is reuse (AUTH_012) and revokes the whole family;
        an unknown, revoked, or expired token returns AUTH_011. No idempotency key: the refresh
        token is itself single-use.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RefreshRequest" }
      responses:
        "200":
          description: rotated
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/TokenPair" }
        "401": { $ref: "#/components/responses/Error" }
        "422": { $ref: "#/components/responses/Error" }

  /identity/auth/logout:
    post:
      summary: Log out (revoke the session family)
      description: >
        Revokes the entire refresh-token family the presented token belongs to. Idempotent —
        logging out an already-revoked family still returns 200. The short-lived access token
        is not blacklisted here; it self-expires within the access TTL. AUTH_011 if the token
        is unknown.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LogoutRequest" }
      responses:
        "200":
          description: logged out
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [user_id]
                    properties:
                      user_id: { $ref: "#/components/schemas/Ulid" }
        "401": { $ref: "#/components/responses/Error" }
        "422": { $ref: "#/components/responses/Error" }

  /identity/tokens/introspect:
    post:
      summary: Introspect an access token
      description: >
        Service-facing (RFC 7662). Verifies the access token (RS256 signature, expiry, audience)
        and checks the jti denylist. Always 200; the body's `active` flag is the answer. A failed
        or denylisted token returns `{ active: false }` and nothing else. Gateway-authenticated
        (service actor).
      parameters:
        - $ref: "#/components/parameters/ActorId"
        - $ref: "#/components/parameters/ActorType"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/IntrospectRequest" }
      responses:
        "200":
          description: introspection result (active or not)
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/IntrospectionData" }
        "401": { $ref: "#/components/responses/Error" }
        "422": { $ref: "#/components/responses/Error" }

  /identity/permissions:
    get:
      summary: List the permission catalog
      parameters:
        - $ref: "#/components/parameters/ActorId"
        - $ref: "#/components/parameters/ActorType"
      responses:
        "200":
          description: catalog
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/PermissionView" }
        "401": { $ref: "#/components/responses/Error" }
    post:
      summary: Define a permission
      description: Adds a non-system permission (`resource.action`). System permissions are seeded, not defined here. Idempotent.
      parameters:
        - $ref: "#/components/parameters/ActorId"
        - $ref: "#/components/parameters/ActorType"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DefinePermissionRequest" }
      responses:
        "201":
          description: defined
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/PermissionView" }
        "401": { $ref: "#/components/responses/Error" }
        "409": { $ref: "#/components/responses/Error" }
        "422": { $ref: "#/components/responses/Error" }

  /identity/change-password:
    post:
      summary: Change own password (self-service)
      description: Actor (from X-Actor-Id) changes their own password. Idempotent.
      parameters:
        - $ref: "#/components/parameters/ActorId"
        - $ref: "#/components/parameters/ActorType"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ChangePasswordRequest" }
      responses:
        "200": { $ref: "#/components/responses/UserProfile" }
        "401": { $ref: "#/components/responses/Error" }
        "422": { $ref: "#/components/responses/Error" }

  /identity/users/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { $ref: "#/components/schemas/Ulid" }
      - $ref: "#/components/parameters/ActorId"
      - $ref: "#/components/parameters/ActorType"
    get:
      summary: Get a user by id
      responses:
        "200": { $ref: "#/components/responses/UserProfile" }
        "401": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }
    delete:
      summary: Soft-delete a user
      description: Idempotent. The record is retained for audit; the user can never authenticate again.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ReasonBody" }
      responses:
        "200": { $ref: "#/components/responses/UserProfile" }
        "401": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }

  /identity/users:
    get:
      summary: Look up a user by email or username
      parameters:
        - { name: email, in: query, required: false, schema: { type: string, format: email } }
        - { name: username, in: query, required: false, schema: { type: string } }
        - $ref: "#/components/parameters/ActorId"
        - $ref: "#/components/parameters/ActorType"
      responses:
        "200": { $ref: "#/components/responses/UserProfile" }
        "401": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }
        "422": { $ref: "#/components/responses/Error" }

  /identity/users/{id}/disable:
    post:
      summary: Disable a user
      description: Idempotent. A disabled user cannot authenticate until re-enabled.
      parameters:
        - { name: id, in: path, required: true, schema: { $ref: "#/components/schemas/Ulid" } }
        - $ref: "#/components/parameters/ActorId"
        - $ref: "#/components/parameters/ActorType"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ReasonBody" }
      responses:
        "200": { $ref: "#/components/responses/UserProfile" }
        "401": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }

  /identity/users/{id}/enable:
    post:
      summary: Re-enable a disabled user
      description: Idempotent. A deleted user cannot be re-enabled.
      parameters:
        - { name: id, in: path, required: true, schema: { $ref: "#/components/schemas/Ulid" } }
        - $ref: "#/components/parameters/ActorId"
        - $ref: "#/components/parameters/ActorType"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ReasonBody" }
      responses:
        "200": { $ref: "#/components/responses/UserProfile" }
        "401": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }

components:
  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema: { type: string }
    ActorId:
      name: X-Actor-Id
      in: header
      required: true
      schema: { type: string }
    ActorType:
      name: X-Actor-Type
      in: header
      required: false
      schema: { type: string, enum: [user, service] }
  responses:
    Error:
      description: Standard error envelope (unero-shared-schemas error-envelope)
      content:
        application/json:
          schema:
            type: object
            required: [error, request_id]
            properties:
              error:
                type: object
                required: [code, message]
                properties:
                  code: { type: string, pattern: "^[A-Z]+_[0-9]{3}$" }
                  message: { type: string }
                  detail: { type: object }
              request_id: { type: string }
              docs_url: { type: string }
    UserProfile:
      description: A user profile projection
      content:
        application/json:
          schema:
            type: object
            required: [data]
            properties:
              data: { $ref: "#/components/schemas/UserProfile" }
  schemas:
    Ulid:
      type: string
      pattern: "^[0-7][0-9A-HJKMNP-TV-Z]{25}$"
    RegisterRequest:
      type: object
      required: [email, username, password]
      properties:
        email: { type: string, format: email, maxLength: 255 }
        username: { type: string, minLength: 3, maxLength: 32 }
        password: { type: string, minLength: 8, maxLength: 4096 }
    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string, maxLength: 4096 }
    ChangePasswordRequest:
      type: object
      required: [current_password, new_password]
      properties:
        current_password: { type: string, maxLength: 4096 }
        new_password: { type: string, minLength: 8, maxLength: 4096 }
    ReasonBody:
      type: object
      properties:
        reason: { type: string, maxLength: 500, nullable: true }
    Principal:
      type: object
      required: [user_id, status, email_verified]
      properties:
        user_id: { $ref: "#/components/schemas/Ulid" }
        status: { type: string, enum: [active, disabled, deleted] }
        email_verified: { type: boolean }
    LoginData:
      allOf:
        - $ref: "#/components/schemas/Principal"
        - type: object
          required: [access_token, token_type, expires_in, refresh_token, refresh_expires_in]
          properties:
            access_token: { type: string, description: RS256 JWT }
            token_type: { type: string, enum: [Bearer] }
            expires_in: { type: integer, description: seconds }
            refresh_token: { type: string, description: opaque single-use refresh secret (rotates) }
            refresh_expires_in: { type: integer, description: seconds }
    TokenPair:
      type: object
      required: [access_token, token_type, expires_in, refresh_token, refresh_expires_in]
      properties:
        access_token: { type: string, description: RS256 JWT }
        token_type: { type: string, enum: [Bearer] }
        expires_in: { type: integer, description: seconds }
        refresh_token: { type: string, description: opaque single-use refresh secret (rotates) }
        refresh_expires_in: { type: integer, description: seconds }
    RefreshRequest:
      type: object
      required: [refresh_token]
      properties:
        refresh_token: { type: string }
    LogoutRequest:
      type: object
      required: [refresh_token]
      properties:
        refresh_token: { type: string }
    IntrospectRequest:
      type: object
      required: [token]
      properties:
        token: { type: string, description: the access token (JWT) to introspect }
    PermissionView:
      type: object
      required: [id, name, resource, action, is_system]
      properties:
        id: { $ref: "#/components/schemas/Ulid" }
        name: { type: string, example: user.create }
        resource: { type: string, example: user }
        action: { type: string, example: create }
        description: { type: string, nullable: true }
        is_system: { type: boolean }
    DefinePermissionRequest:
      type: object
      required: [name]
      properties:
        name: { type: string, pattern: "^[a-z][a-z0-9_]*\\.[a-z][a-z0-9_]*$", example: billing.refund }
        description: { type: string, nullable: true }
    IntrospectionData:
      type: object
      required: [active]
      properties:
        active: { type: boolean }
        sub: { $ref: "#/components/schemas/Ulid" }
        jti: { type: string }
        token_use: { type: string, example: access }
        exp: { type: string, format: date-time }
    Jwk:
      type: object
      required: [kty, use, alg, kid, n, e]
      properties:
        kty: { type: string, enum: [RSA] }
        use: { type: string, enum: [sig] }
        alg: { type: string, enum: [RS256] }
        kid: { type: string }
        n: { type: string }
        e: { type: string }
    UserProfile:
      type: object
      required: [user_id, email, username, status, email_verified, created_at, updated_at]
      properties:
        user_id: { $ref: "#/components/schemas/Ulid" }
        email: { type: string, format: email }
        username: { type: string }
        status: { type: string, enum: [active, disabled, deleted] }
        email_verified: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
